section ul.bands {
  li.band p {
    font-size: 1.6rem;
    color: $white;
  }
}
section ul.members {
  li.member p {
    font-size: 1.6rem;
    color: $white;
    a + a {
      vertical-align: middle;
      float: right;
    }
  }
}

h3 + p {
  margin-top: 0.75rem;
}

section > h2 + form {
  margin-top: 0.75rem;
}
