form {
  input, select, textarea {
    background-color: $grey-lightest;
  }
  border-top: 0.33rem $copper solid;
  div + div {
    border-top: 1px $grey-light solid;
  }
  div {
    overflow: auto;
    background-color: $white;
    padding: 1.1rem;
    input, textarea {
      margin: 0;
      border: 0;
      padding: 0;
    }
    input[type="text"], input[type="password"], textarea {
      outline: 0;
      border: 0;
      font: inherit;
      padding: .33rem;
      padding-left: .25rem;
      max-width: 100%;
      width: 100%;
      border-left: 2px solid $grey-light;
      &:focus {
        border-color: $copper;
      }
    }
    label {
      display: block;
    }
    select {
      -webkit-border-radius: 0;
      -webkit-box-shadow: 0;
      -webkit-padding-end: 0;
      -webkit-user-select: none;
      -webkit-appearance: button;
      outline: 0;
      border: 0;
      display: block;
      font: inherit;
      max-width: 100%;
      width: 40%;
      padding: .33rem;
      margin: auto;
      -webkit-padding-start: .25rem;
      background-image: url(select-arrow.png);
      background-position: 95% center;
      background-repeat: no-repeat;
      background-size: auto;
      border-left: 2px solid $grey-light;
      &:focus {
        border-color: $copper;
      }
    }
  }
  div + input[type="submit"] {
    border: 0;
    margin: 0;
    background: 0;
    padding: 1.1rem;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    background-color: $grey;
    color: $white;
    border-bottom: 2px $copper solid;
    &:hover {
      background-color: $grey-dark;
    }
    &:active {
      background-color: $green;
    }
  }
}
