html {
  background-color: $black;
  font-family: $font-body;
  font-size: $font-size-base;
  color: $white;
  line-height: 1.2;
}

body {
  font: inherit;
  max-width: 30rem;
  margin: auto;
  padding-bottom: 6rem
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

a {
  font: inherit;
  color: inherit;
  &:hover {
    color: $grey-light;
  }
  &:active {
    color: $grey;
  }

}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > nav,
section > h2 {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  line-height: 1;
}
h1 {
  margin-top: 1.6rem;
  margin-bottom: 2.2rem;
  font-size: 4rem;
  font-weight: 100;
  font-style: italic;
  color: $copper;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: $green;
  overflow: hidden;
}
h3 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2;
  color: $green-light;
}
h4 {
  font-size: 1rem;
  font-weight: 400;
  color: $green;
  margin-bottom: .75rem;
}
h5 {font-size: 0.75rem;}
h6 {font-size: 0.5rem;}

section {
  margin-top: 2.2rem;
  color: $green;
  ul {
    list-style: none;
    li {
      line-height: inherit;
    }
  }
}
ul {
  li {
    padding: 1.1rem;
    border-bottom: 1px solid $grey-light;
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

span.accent {
  color: $white;
}

h2 {
  &:hover, &:active {
    a {
      color: $white;
    }
    hr {
      width: 35%;
      background-color: $grey-dark;
    }
  }
  a {
    transition: .5s;
  }
  hr {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
    transition: .5s;
    width: 15%;
    height: 2px;
    background-color: $grey-light;
    margin-top: 0.25rem;
  }
}
body > p {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}
p.name {
  line-height: 1.2;
  font-weight: 400;
  font-size: 3.5rem;
  color: $white;
}
