nav {
  a ~ a, a ~ form {
    margin-left: .75rem;
  }
  vertical-align: baseline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  color: $green-light;
  a, a:visited {
    font: inherit;
    text-decoration: none;
  }
  a[href^="/sessions/new"] {
    float: right;
    color: $green
  }
  form {
    float: right;
    display: inline-block;
    input {
      cursor: pointer;
      vertical-align: baseline;
      color: $green;
      border: 0;
      margin: 0;
      padding: 0;
      background: 0;
      &:active {
        color: $grey;
      }
    }
  }
}
