
h3 + section {
  margin-top: 3.5rem;
}
section > div, section > ul, section > h2 + form {
  background-color: $grey-dark;
  margin-top: 0.75rem;
  border-top: 0.33rem $copper solid;
}
section > div {
  padding: 1.1rem;
  overflow: auto;
  p > a {
    display: block;
    float: left;
    color: $grey-light;
    &:active {
      color: $grey;
    }
    &:hover {
      color: $white;
    }
  }
  p > a + a {
    float: right;
  }
  p + p {
    clear: both;
    padding-top: 0.75rem;
  }
}
