<% if !!@logged_in_user %>
<p><%= link_to "Musicians", users_path %></p>
<p><%= link_to "Bands", bands_path %></p>
<p><!%= link_to "Venues", venues_path %></p>

<p><%= link_to "New Band?", new_band_path %></p>
<% end %>
